@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(211, 211, 211, 0.167);
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

header > nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 10px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 15px;
}

header > nav > .image-logo {
    margin-right: 70px;
}

nav > a {
    margin: 10px;
    text-decoration: none;
    color: #535353;
}

#search {
    width: 200px;
    height: 30px;
    border-radius: 4px;
}

.box-pesquisa {
    display: flex;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.364);
    border-radius: 4px;
    padding: 5px 8px;
}

.box-pesquisa input {
    border: none;
    outline: none;
    background:transparent;
    width: 200px;
    height: 30px;
    font-size: 14px;
}

.box-pesquisa .material-symbols-outlined {
    font-size: 22px;
    color: gray;
    cursor: pointer;
}

.button-cadastro {
    background-color: #8A02FF;
    color: white;
    font-weight: bold;
    padding: 9px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

main {
    padding: 10px;
    background-color: rgba(211, 211, 211, 0.167);
}

.container {
    display: flex;
    position: relative;
    padding: 0 12rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;
}

.conteudo-esquerda {
    width: 800px;
}

.conteudo-esquerda > h1 {
    padding-top: 20px;
    font-size: 40px;
    color: #381e53;
    font-weight: 900;
    line-height: 50px;
    margin-bottom: 20px;
}

.conteudo-esquerda > p {
    font-family: sans-serif;
    color: gray;
    font-size: 18px;
    margin: 15px 0 15px 0;
}


.conteudo-esquerda > .comece {
    background-color: #1F8D45;
    padding: 10px;
    color: white;
    font-weight: lighter;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    margin-right: 5px;
    cursor: pointer;
}

.conteudo-esquerda > .cursos {
    background-color: #39286B;
    padding: 10px;
    color: white;
    font-weight: lighter;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    cursor: pointer;
}


div > .imagem-direita {
    display: flex;
    justify-content: flex-end;
}

hr {
    border: none;
    height: 1.5px;
    width: 1200px;
    background-color: #cfcfcf7c;
    margin: auto;
}

.associados {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.associados2 {
  display: flex;
  margin: 0 10px 0 10px;
  gap: 10px;
}

.associados2 > p {
    color: #808080bf;
    display: flex;
    align-items: center;
    margin: 0 90px 0 90px;
}

.associados2 > p > img {
    margin-left: 10px;
}

.mais_procurados {
    display: block;
    padding: 4rem 0 0 12rem;
    margin-bottom: 30px;
}

.mais_procurados > h1 {
    color: #430283;
}

.mais_procurados  p {
    margin-top: 5px;
    color: gray;
    font-size: 1.1em;
}

.linha_botao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 12rem;
}

.mais_procurados  button {
    float: right;
    background-color: #39286B;
    padding: 10px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    margin-right: 40px;
    cursor: pointer;
}

.lista_cursos {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 40px;
    padding: 0;
    margin: 0;
}

.lista_cursos a {
    display: inline-block;
    text-decoration: none;
    color: gray;
    transition: 0.3s;
}

.lista_cursos a:hover {
    color: #430283;
    transform: translateY(-3px);
}

.alg_cursos {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 30px 0 70px 0;
    padding: 0 12rem;
}

.alg_cursos h2 {
    font-size: 18px;
    color: #430283;
    line-height: 25px;
}

.alg_cursos img {
    border-radius: 15px;
}


.estrela {
  color: #ff9d00;
  font-size: 24px;
  cursor: pointer;
}

.alg_cursos hr {
    border: none;
    height: 0.1em;
    width: 260px;
    background-color: #5900fe1b;
    margin: 20px 0 10px 0;
}

.horario {
    display: flex;
}

.horario > p {
    color: #380365;
    font-size: 14px;
    padding: 4px;
}

.horas {
    color: #8902ff88;
    font-size: 24px;
    transform: scale(0.9); /* força redução */
    display: inline-block;
}

.lista_alg_cursos {
    margin-bottom: 30px;
}

.alg_cursos > .lista_alg_cursos {
    list-style: none;
}

.lista_alg_cursos button {
    margin-top: 5px;
    border: 2px solid #8902ff6c;
    width: 260px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.lista_alg_cursos button:hover {
    background-color: #8A02FF;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.video {
    display: flex;
    position: relative;
    padding: 0 12rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.video > .video_esquerda {
    width: 800px;
}

.video h2 {
    color: #43037b;
    margin-bottom: 10px;
    font-size: 24px
}

.video_esquerda p {
    font-size: 14px;
    color: gray;
}

.video img {
    width: 600px;
    border-radius: 20px;
    margin-top: 50px;
}

.video_esquerda button {
    background-color: #1F8D45;
    padding: 10px;
    color: white;
    font-weight: lighter;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
}

.jornada {
    background-color: #6204b4;
    color: white;
    width: 100vw;

}

.jornada_central {}

.jornada_central h1 {}